.info-block {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.first-block {
    width: 30%;
}

.second-block {
    width: 70%;
    display: flex;
    flex-direction: column;
}